.inline {                 
    display: inline-block;
    vertical-align: top;
}

.pointer {
    cursor: pointer;
}
.border { 
    border: 1px solid #666;
    border-radius: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.title {
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

.Monitor {
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    font-size: 75%;
}

.Monitor-Log {
    height: 250px;
    overflow: auto;
}

