.ConnectionMgr-Connection
    .btn-group
        button.btn #{connection.name}
        a.btn.dropdown-toggle(href="#", data-toggle="dropdown")
            span.caret
        ul.dropdown-menu
            li
                a(href="#") Delete
