h2.text-info Create Batch Connection
div
    .row.input-prepend
        span.span2.add-on Name
        input#ConnectionMgr-Name.span4(type="text")
    .row.input-prepend
        span.span2.add-on From Host
        input#ConnectionMgr-FromHost.span4(type="text")
    .row.input-prepend
        span.span2.add-on To Host
        input#ConnectionMgr-ToHost.span4(type="text")
    .row.input-prepend
        span.span2.add-on From Port
        input#ConnectionMgr-FromPort.span4(type="text")
    .row.input-prepend
        span.span2.add-on To Port
        input#ConnectionMgr-ToPort.span4(type="text")
    .row.input-prepend
        span.span2.add-on Password
        input#ConnectionMgr-Password.span4(type="password")
    .row.input-prepend
        span.span2.add-on KeepAlive
        .span3
            input#ConnectionMgr-KeepAlive(type="checkbox", checked='checked')
.row
    .span1.offset3
        input.btn.btn-large(
            type='button'
            value='OK'
            onclick='connectionMgrView.onCreateBatchConnection();'
        )
    .span1
        input.btn.btn-large(type='button', value='Cancel', onclick='connectionMgrView.clearContent();')

