.row-fluid
    #ConnectionMgr-Tree.row-fluid.span3
        .span4.offset1
            input.btn(type="button", value="New", onclick='connectionMgrView.renderCreateConnection();')
        .span4
            input.btn(type="button", value="Restart All", onclick='connectionMgrView.restartAll();')
    #ConnectionMgr-Content.span9
