.row-fluid
    #ConnectionMgr-Tree.span3
        #ConnectionMgr-Tree-Header.row-fluid
            .span2.offset1
                input.btn.btn-mini(type="button", value="Create Redis", onclick='connectionMgrView.renderCreateConnection();')
            .span3
                input.btn.btn-mini(type="button", value="Create Batch Redis", onclick='connectionMgrView.renderCreateBatchConnection();')
            .span3
                input.btn.btn-mini(type="button", value="Restart All", onclick='connectionMgrView.onRestartAll();')
        .row-fluid
            .span2.offset1
                input.btn.btn-mini(type="button", value="Create Log", onclick='connectionMgrView.renderCreateLog();')
        .row-fluid
            .span2.offset1
                input.btn.btn-mini(type="button", value="Remove All", onclick='connectionMgrView.onRemoveAll();')

        p
        #ConnectionMgr-Tree-Body.offset1
    #ConnectionMgr-Content.span9
