.modal-header
    h3.text-error Ops...
.modal-body
    .alert.alert-block.alert-error.fade.in
        p= errorMessage
.modal-footer
    button.btn(href='#', data-dismiss='modal', aria-hidden='true') Close
