#Logo ParaNoidz Redis Manager
.tabbable
    ul.nav.nav-tabs
        li.active
            a(href='#ConnectionMgr', data-toggle="tab") Connection Manager
        li
            a(href='#MonitorMgr', data-toggle="tab") Monitor Manager
        li
            a(href='#Commander', data-toggle="tab") Commander
    .tab-content
        #ConnectionMgr.tab-pane.active
        #MonitorMgr.tab-pane 
        #Commander.tab-pane Content3
#Footer.row-fluid
    .span3.row-fluid
        #Status.span3
        #OnlineUser.span9
    .span9 A ParaNoidz 2013 Product
