.tabbable
    ul.nav.nav-tabs
        li.active
            a(href='#ConnectionMgr', data-toggle="tab") Connection Manager
        li
            a(href='#Monitor', data-toggle="tab") Monitor
        li
            a(href='#Commander', data-toggle="tab") Commander
    .tab-content
        #ConnectionMgr.tab-pane.active Content1
        #Monitor.tab-pane Content2
        #Commander.tab-pane Content3
