#Logo ParaNoidz Redis Manager
.tabbable
    ul.nav.nav-tabs
        li.active
            a(href='#ConnectionMgr', data-toggle="tab") Connection Manager
        li
            a(href='#Manager', data-toggle="tab") Manager
    .tab-content
        #ConnectionMgr.tab-pane.active
        #Manager.tab-pane 
            #Commander-All
                input#Commander-Input-All(type='text', placeholder='Send command to all server')
#Footer.row-fluid
    .span3.row-fluid
        #Status.span3
        #OnlineUser.span9
    .span9 A ParaNoidz 2013 Product
